.App {
  background-image: linear-gradient(grey, black);
  height: 100vh;
  padding: 120px 0;
  transition: all 1s;
}
.container {
  width: 1020px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
